/imagenes/originales
/imagenes/procesadas
/imagenes/torcidos
/imagenes/derechos
/imagenes/objetos
/imagenes/derechos
/imagenes/originales.zip
/notebooks
/prueba_frames
/videos

area_set.py
box_ellipse.py
derechos_ellipse.py
derechos.py
folder_tag.py
indexator.py

object_tracker.py
prueba_video.py
prueba_red.py
prueba.py
recortador_frames.py
vacios.py